
.c {
	margin: 0;
	display: flex;
	/* This centers our sketch horizontally. */
	justify-content: center;
	/* This centers our sketch vertically. */
	align-items: center;
}


.red
{
	background-color: red;
}

.flex-col {
	/*генерирует flex-контейнер уровня блока*/
	display: flex;
	flex-direction: column;
	width: 20%;
}

.flex-row {
	/*генерирует flex-контейнер уровня блока*/
	display: flex;
	flex-direction: row;
}


.track-value{
	margin-top:0;
	align-self: center;
	font-size: 1.5vw;
}
