


.Control {
	opacity: 0.1;
	background-color:gray;
	border-color:darkgrey;
	height: 100%;
	width:10%;
	position: absolute;
}

.C-Right{
	right:0px;
	top:0px;
}



.C-Left {
	left: 0px;
	top: 0px;
}

.C-Top {
	left: 10%;
	top: 0px;
	width:80%;
	height:18%;	
}

.C-Bottom {
	left: 10%;
	bottom: 0px;
	width: 80%;
	height: 18%;
}